@import "bootstrap-sprockets";
@import "bootstrap";

.red-badge { background-color: red; }
.red-icon { color: red; }
.green-badge { background-color: green; }
.white-icon { color: white; }
.permanent-hidden { display: none !important; }
